<h1>Welcome to dineXdash!</h1>

    
    <%= javascript_include_tag "application" %>


<dl class="accordion" data-accordion>
	<dd>
		<a href="#panel1">Restaurant 1</a>
		<div id="panel1" class="content active">
			<h2> We could put content for restaurants here: eg description, photo, etc
			</div>
		</dd>
	<dd>
		<a href="#panel2">Restaurant 2</a>
		<div id="panel2" class="content">
			
		</div>
	</dd>
	<dd>
		<a href="#panel3">Restaurant 3</a>
		<div id="panel3" class="content">
			
		</div>
	</dd>
</dl>