<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong></strong>
  
</p>

	<% if current_user.checks.any? %>
		<strong>Currently checked in to:</strong>
		<%= current_user.checks.first.restaurant.name %>
	<% else %>
		<p>Check out a restaurant profile to start a new check!</p>
	<% end %>
<br>
<br>

<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
