<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong></strong>
  
</p>


<p>
	<strong>Currently checked in to:</strong>
</p>
	<%= current_user.checks.first.restaurant.name %>
<br>
<br>

<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
