<h2><%= @user.email %></h2>

<% if current_user.restaurants.any? %>
	<h3><strong>Restaurants I own:</strong></h3>
	<% current_user.restaurants.each do |r| %>
		<h4><%= link_to "#{r.name}", restaurant_path(r) %></h4>
	<% end %>
<% end %>

	<% if current_user.checks.any? %>
		<a href="#" data-dropdown="drop1" class="button dropdown">Old Receipts</a><br>
		<ul id="drop1" data-dropdown-content class="f-dropdown">
		<% current_user.checks.closed.each do |check| %>
		  <li><a href="#"></a><%= link_to "#{check.restaurant.name} at #{check.paid_at}", check_path(check) %></li>
		<% end %>
		</ul>
	<% else %>
		<p>Check out a restaurant profile to start a new check!</p>
	<% end %>




<%= link_to 'Back', restaurants_path %>
