/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require animate

 *= require_tree .
 */

 
#footertest{
	position: relative;
	text-align: center;
}
 
#social-buttons {
	max-width: 170px;
	margin: auto;
// <<<<<<< HEAD
	display: inline-block
}

li a{}

// >>>>>>> aea69430ad4a2db9bfaa20b87d31c0c093945ab9
