// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
	background-color: #fff;
}

p, h3, h4, h5, h1, h2{
	 color: #fff;
}

.new {
	margin: 20px;
}

dd a {
	font-weight: bold;
}

label {
	color: #fff;
}